name: Docker Image CI

on:
  push:
    branches: 
      - rjcorb/github-action-docker
  pull_request:
  workflow_dispatch:

jobs:

  build_and_publish_image:
    name: Build and Publish Image
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v3
          with:
            token: ${{ secrets.GH_TOKEN }}
            
      - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: docker pull pgc-images.sbgenomics.com/corbettr/pbta-ancestry
          tags: |
            type=raw,value=analysisjob
            # Only tag the image with latest if we're building on the default
            # branch (e.g., main).
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Login to Container Registry
        uses: docker/login-action@v2
        with:
          registry: pgc-images.sbgenomics.com
          username: ${{ secrets.CAVATICA_USERNAME }}
          password: ${{ secrets.CAVATICA_ACCESS_TOKEN }}
            
      - name: Build and push
          uses: docker/build-push-action@v3
          with:
            context: .
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            cache-from: type=gha
            cache-to: type=gha,mode=max
            build-args: github_pat=${{ secrets.GH_TOKEN }}
